body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.anchoe-tag{

  display: inline-block;
  padding: 10px 50px;
  
  border: 1px solid #000; 
  color: #000; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.custom-list-item {
  list-style: none;
  margin: 0;
}

.custom-paragraph {
  background-color: #c2c2af;
  color: #333;
  font-family: 'Suisse Regular', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
 
  overflow: visible;
  padding: 10px 20px;
  width: 100%;
  display: block; 
}

.custom-anchor {
  text-decoration: none;
  color: #333;
}

.custom-anchor:hover {
  text-decoration: underline;
}

.custom-second-item {
  list-style: none;
  background-color: #000;
  color: #fffef2;
  clear: both;
  height: auto;
  overflow: visible;
  padding: 12px 20px 8px;
  width: 100%;
}
.custom-second-item {
  list-style: none;
  background-color: #000;
  color: #fffef2;
}
.custom-list-item.second-item {
  background-color: #252525;
  clear: both;
  color: #fffef2;
  height: auto;
  overflow: visible;
  padding: 12px 20px 8px;

  width: 100%;
}
.second-a:hover {
  text-decoration: underline;
}


.certificate-section {
    display: flex;
   background-color: #F0F0F0;
   flex-wrap: wrap;
   height:500px;
   padding: 20px;
   
  }
  .certificate-section h6{
    text-align: center;
  }
 
  .certificate-section > .certificate {
    margin: 20px; 
    }
  
 
  .certificate-section > .certificate {
    padding: 55px;
    
  }
  .certificate {
    text-align: center;
    padding: 20px;
    margin: 20px;
  max-width: 300px;}
  @media screen and (max-width: 768px) {
    .certificate {
      flex-direction: column;
      
    }
  }

  @media screen and (max-width: 768px) {
    .facial-section {
      flex-direction: column;
      text-align: center;
    }
  
    .facial-image {
      width: 100%;
      margin-bottom: 20px; 
    }
  
    .about-facial {
      max-width: 100%;
    }
  }
.facial-section {
    display: flex;
    padding-bottom: 200px;
    padding-top: 100px;
  }
  
 
  .facial-section img {
    max-width: 80%;
    max-height: 100%;
    height: auto;
    padding-bottom: 70px;
  }

  
.about-facial a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .about-facial a:hover {
    background-color: #000;
    color: #fff; 
  }

  @media screen and (max-width: 768px) {
    .facial-section {
      flex-direction: column;
      text-align: center;
    }
  
    .facial-image {
      width: 100%;
      margin-bottom: 20px; 
    }
  
    .about-facial {
      max-width: 100%;
    }
  }

.purchase-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
  }
  .purchase-section .purchase-image,.purchase-section .purchase-descruiption {
  flex: 1;
  
  padding: 20px; 
}
.purchase-section .purchase-descruiption{
   
    margin-right: 250px;
}
.purchase-descruiption{
   margin-right: 40px;
}
  .purchase-section img{
    max-width: 70%;
  }
  
  .purchase-section a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .purchase-section a:hover {
    background-color: #000;
    color: #fff; 
  }
 
  @media screen and (max-width: 768px) {
    .purchase-section {
      flex-direction: column;
      text-align: center;
    }
  
    .purchase-image img {
      max-width: 100%;
    }
  
    .purchase-description {
      max-width: 100%;
      margin-top: 20px; 
    }
  }

.section-pairings {
    display: flex;
    padding-top: 100px;
  }
  
  .section-pairings .pairing-image,
  .section-pairings .pairing-description {
    flex: 1;
    
   
  }
  .pairing-image{
    max-width: 150%;
    
  }
  .pairing-description{
    margin-left: 200px;
    margin-right: 200px;
  }
  .section-pairings a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pairing-description a:hover {
    background-color: #000;
    color: #fff; 
  }
  @media screen and (max-width: 768px) {
    .section-pairings {
      flex-direction: column;
      align-items: center;
    }
  
    .pairing-description {
      margin-top: 20px;
      text-align: center;
    }
  }
  
  .online-section {
    display: flex;
  }
  
  .online-section .online-image,
  .online-section .online-description {
    flex: 1;
   
  }
  
  .online-description{
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 150px;
    
  }
  .online-description a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .online-description a:hover {
    background-color: #000;
    color: #fff; 
  }
  @media screen and (max-width: 768px) {
    .online-section {
      flex-direction: column;
      align-items: center;
    }
  
    .online-description {
      margin-top: 20px;
      text-align: center;
    }
  }

  .dryskin-section{
    display:flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .dryskin-section  .dryskin-image,.dryskin-description{
    flex:1;
  }
  .dryskin-description{
    margin-left: 200px;
  }

.dryskin-description a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dryskin-description a:hover {
    background-color: #000;
    color: #fff; 
  }
  @media screen and (max-width: 768px) {
    .dryskin-section {
      flex-direction: column;
      align-items: center;
    }
  
    .dryskin-description {
      margin-top: 20px;
      text-align: center;
    }
  }
  .store-section{
    display:flex;
  }
   .store-section .stores-images,.store-description
  ,.store-descritpion{
    flex:1;
   
  }
  .stores-images {
    max-width: 80%;
    max-height: 100%;
    height: auto;
    padding-bottom: 70px;
  }
  .image-slider {
    position: relative;
  }
  
  .store-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  @media screen and (max-width: 768px) {
    .store-section {
      flex-direction: column;
      text-align: center;
    }
  
    .store-description {
      max-width: 100%;
      margin-bottom: 20px; 
    }
  
    .slides {
      flex-direction: column;
    }
  
    .slides > div {
      margin-bottom: 20px; 
    }
  }
  .sliders {
    display: flex;
    height: 400px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .sliders > div {
    flex-shrink: 0;
   
    height: 300px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }
  
  .sliders > div img {
    height: 70%;
    width: 80%;
  }
  
   
  @media screen and (max-width: 768px) {
    .sliders {
      flex-direction: column;
      height: auto;
    }
  
    .sliders > div {
      height: auto;
      scroll-snap-align: none;
    }
  
    .sliders > div img {
      width: 100%;
      height: auto;
    }
  }

  
  .slides {
    display: flex;
  }
  .slides > div {
    display: flex;
  }
  .slides {
    overflow-x: auto;
  }
  .slides > div {
    flex-shrink: 0;
    width: 100%;
    height: 300px;
  }
  .slides {
    scroll-snap-type: x mandatory;
  }
  .slides > div {
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }
  @media screen and (max-width: 768px) {
    .sliders {
      flex-direction: column;
      align-items: center;
    }
  
    .sliders > div {
      width: 100%;
      margin-bottom: 15px; 
    }
  }
            
  nav {
   margin-left: 40px;
    background-color: #fffef2;
    overflow: hidden;
    
    height:70px
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
